.content{
    padding: 30px;
}

mat-card-title {
    padding: 10PX;
}

.list-table {
    width: 100%;
}
  
.mat-column-studentName {
    width: 20px;
    border-right: 1px solid currentColor;
    padding-right: 12px;
    text-align: center;
}

.mat-column-courseName {
    padding-left: 16px;
    font-size: 15px;
}

  