<section class="content" fxLayout fxLayoutAlign="center">

    <form (ngSubmit)="save(f)" #f="ngForm">

        <mat-card fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Add new Book!</mat-card-title>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" 
                            [(ngModel)]="newBook.name" name="name" #name="ngModel"
                            required>
                    <mat-error *ngIf="name.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Choose Author" ngModel name="author" required>
                        <mat-option *ngFor="let author of authors" [value]="author">
                            {{ author.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Choose Genre" ngModel name="genre" required>
                        <mat-option *ngFor="let genre of genres" [value]="genre">
                            {{ genre.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" >
                <button *ngIf="authors" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Save</button>
            </mat-card-actions>
        </mat-card>

    </form>
    
</section>


<section *ngIf="(books)" fxLayoutAlign="center" 
        class=" mat-elevation-z8 list-table">
    <mat-card fxFlex="400px" > 
        <mat-card-title fxLayoutAlign="center">Courses list:</mat-card-title>
        <div fxLayoutAlign="center center">
            <mat-form-field fxFlex="40%"> 
                <input matInput type="text" (keyup)="doFilter($event)" placeholder="Filter">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Book Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="authorName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Author Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.authorName }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="genreName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Genre Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.genreName }}</mat-cell>
            </ng-container>
            
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showBook(row)"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="1" [pageSizeOptions]="[1, 5, 10, 20]"></mat-paginator>
    </mat-card>
    
</section>