.genres {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .GenresLoading {
    text-align: center;
    color: white;
  }
  
  .GenresError {
    text-align: center;
    color: red;
  }
  
  .genres ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes genres-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  