<section class="content" fxLayout fxLayoutAlign="center">

    <form (ngSubmit)="save(f)" #f="ngForm">

        <mat-card fxFlex.xs="100%" fxFlex="400px">
            <mat-card-title fxLayoutAlign="center">Select Projects!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field>
                    <mat-select placeholder="Choose Student" ngModel name="student" required>
                        <mat-option *ngFor="let student of studentsList" [value]="student">
                            {{ student.firstName + ' ' + student.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Choose Project" ngModel name="project" required>
                        <mat-option *ngFor="let project of projectsList" [value]="project">
                            {{ project.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" >
                <button *ngIf="studentsList" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Save</button>
            </mat-card-actions>
        </mat-card>

    </form>
    
</section>


<section *ngIf="!(dataList.length==0)" fxLayoutAlign="center" 
        class=" mat-elevation-z8 list-table">
    <mat-card fxFlex="400px" > 
        <mat-card-title fxLayoutAlign="center">Students by Projects:</mat-card-title>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="studentName">
                <mat-header-cell *matHeaderCellDef>Student Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.studentName }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="projectName">
                <mat-header-cell *matHeaderCellDef>Project Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.projectName }}</mat-cell>
            </ng-container>
            
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
        </mat-table>
    </mat-card>
    
</section>