<section class="student-content" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="addStudent()" #f="ngForm">
        
        <mat-card fxFlex="400px" > 
            <mat-card-title fxLayoutAlign="center">Add new student!</mat-card-title>
            <mat-card-content >
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Firts Name" 
                            [(ngModel)]="newStudent.firstName" name="firstName" #firstName="ngModel"
                            required>
                    <mat-error *ngIf="firstName.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" 
                            [(ngModel)]="newStudent.lastName" name="lastName" #lastName="ngModel"
                            required>
                            <mat-error *ngIf="lastName.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input matInput placeholder="Age" 
                            [(ngModel)]="newStudent.age" name="age" #age="ngModel"
                            required>
                    <mat-error *ngIf="age.hasError('required')">Field must not be empty.</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center">
                <button mat-raised-button color="primary" [disabled]="f.invalid">Save Student</button>
                <button mat-raised-button type="button" (click)="clean()">Clean</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>

<section *ngIf="!(studentsList.length==0)" fxLayoutAlign="center" 
        class=" mat-elevation-z8 student-table">
    <mat-card fxFlex="400px" > 
        <mat-card-title fxLayoutAlign="center">Students list:</mat-card-title>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef>Age</mat-header-cell>
                <mat-cell *matCellDef="let element">{{ element.age }}</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showStudent(row)"></mat-row>
        </mat-table>
    </mat-card>
    
</section>




